body{
  margin: 0;
  justify-content: flex-end;
  margin-bottom: 20px;
}

#first{
  margin-right: 66%;
}

#especial{
  top: 50%;
  position: absolute;
}

.bg{
margin: 0 0 -4px 0;
}

.a{
  color: #ffffff;
  margin-right: 2%;
  padding: 16px 6px 16px 10px;
  font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
  float: right;
  top: 0;
  font-size: 15px;
  text-decoration:none
}

.top{
  background-color: #000000;
}

.a:hover{
  text-decoration: underline;
}

.barra{
  padding: 10px 6px 10px 10px;
  margin-left: 0.5%;
}

.logo{
  padding: 10px 6px 10px 10px;
  margin-left: 2%;
  height: 30px;
  width: 6.3%;
}

.izquierda{
  margin-right: 50%;

}

.derecha{
  margin-left: 54%;
}

.contenedor{
  max-height: 1080px;
}

.amonger{
  margin: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}

.b{

  font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
  position: absolute;
  z-index: 1;
  display: block;
  background: #f4f2f2;
  padding: 50px 30px;
  max-width: 300px;
  border-radius: 8px;
}

#i1{
  margin-left: 10%;
  top: calc(150%);
}

#i2{
  margin-left: 65%;
  top: calc(260%);
}

#i3{
  margin-left: 65%;
  top: calc(120%);
}

.b1, .b2, .b3{
  width: 100%;
}

.button1, .button2, .button3 {
  font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color:white;
  border: 2px Solid #00a2ed;
  color: Black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 20px 40px;
  border-radius: 4px;
  width: 30%;
}

.button1 {
  margin-left: 4.5% ;
}

.button3 {
  margin-right: 4% ;
}

.button1:hover, .button2:hover, .button3:hover {
  background-color: #00a2ed;
  color: White;
}

.body1{
  padding-left: 10%;
  width: 90%;
  font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 15px;
  color: #000;
  display: table;
}

.inbody1{
  padding-right: 9%;
  width: 40.3%;
  float: left;
}

.inbody2{
  width: 40.3%;
  float: left;
}

.xd{
  font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
}

h1, h2, h3, p, li{
  font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}


h2{
  padding: 38px 0 2px;
  font-weight: 600;
  font-size: 34px;
  line-height: 40px;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
}

.text{
  padding-left: 3%;
  padding-right: 3%;
  background-color: blue;
  text-align: justify;
  margin-left: 10%;
  margin-right: 10%;
}

li{
  text-align: left;
}

.sobre{
  font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
  z-index: 1;
  display: block;
  background: #f4f2f2;
  padding: 10px 30px 20px 30px;
  max-width: 360px;
  border-radius: 8px;
  position: absolute;
  top: 35%;
  margin-left: 35%
}

textarea {
  margin-top: 2%;
  margin-bottom: 2%;
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  transition: width 0.4s ease-in-out;
}

@media (max-width: 1366px) {

  #first{
    margin-right: 53%;
  }

  .logo{
    height: 27px; 
    width: 6.3%;
  }

}